fastapi
uvicorn[standard]
python-jose[cryptography]
sqlalchemy
pydantic
python-multipart
aiofiles
google-auth
google-auth-oauthlib
python-dotenv
joblib
scikit-learn==1.6.1
pandas
numpy
pillow
ultralytics
opencv-python-headless
